body{
  width: 100%;
  height: 100%;
}

.nav-bar{
  position: relative;
  width: 100%;
  height: 8em;
}

.templates, .templates .about{
  width: 50%;
  height: 20%;
  margin: 5%;
  padding: 5%;
  text-align: left;
  border-width: 7px;
  border-color: black;
}
