<html>

<head>
  <title>SinAuth</title>
</head>

<body>

  <div>
    <h1>Welcome to SinAuth</h1>
  </div>


  <div class='nav-bar'>
    <h2>Home</h2>
    <h2>About SinAuth</h2>
    <h2>Documentation</h2>
    <h2>SinAuth in the Wild</h2>
    <h2>The Future of SinAuth</h2>
  </div>

  <div class='templates about'>

    <p>Let me tell you all about it</p>

  </div>

  <div class='templates documentation'>

    <p>Read it and weep!</p>

  </div>

  <div class='templates wild'>

    <p>It is currently not being used anywhere except my local pc so...yeah there is that.</p>

  </div>

  <div class='templates future'>

    <p>I plan to expand it and make it a simple framework that is available in all of my favorite languages!</p>

  </div>


</body>


</html>
