<html>

<head>
  <title>SinAuth</title>
</head>

<body>

  <div>
    <h1>Welcome to SinAuth</h1>
  </div>


  <div class='nav-bar'>
    <h2>Home</h2>
    <h2>About SinAuth</h2>
    <h2>Documentation</h2>
    <h2>SinAuth in the Wild</h2>
    <h2>The Future of SinAuth</h2>
  </div>

  <div class='templates about'>

    <p>Let me tell you all about it</p>

    <p>
      It came to me as a code challenge assignment which led me to github's
      docs, which led me to makeing this a real thing and not just a code
      challanege.
      <%= locals %>
    </p>

  </div>

  <div class='templates documentation'>

    <p>Read it and weep!</p>

    <h3>Github</h3>

    <p>Lets use the Github API to authenticate</p>
    <p>
      <%= client_id %>
    </p>

    <!--  #you will need to use a curl here instead since they don't want you using oauth  -->
    <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Click here to begin!</a>

    <p>
      If that link doesn't work, remember to provide your own <a href="/v3/oauth/#web-application-flow">Client ID</a>!
    </p>
    <h2>Soon To Come!!!</h2>

    <h3>LinkedIn</h3>
    <h3>Facebook</h3>
    <h3>Twitter</h3>
    <h3>Insert pointless(debatably) socialmedia thing...</h3>

  </div>

  <div class='github'>
    <p> <a href="https://api.github.com/users/dmc2015">username</a></p>
  </div>

  <div class='revoke'>
    <p> <a href='https://github.com/settings/connections/applications/<%= CLIENT_ID %>'>Deauthorize</a></p>
  </div>

  <div class='templates wild'>

    <p>It is currently not being used anywhere except my local pc so...yeah there is that.</p>

  </div>

  <div class='templates future'>

    <p>I plan to expand it and make it a simple framework that is available in all of my favorite languages!</p>

  </div>


</body>


</html>
